{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Semantic Web Content Analytics</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/analyzer.css' %}">
    <link rel="shortcut icon" href="{% static 'skin/favicon.png' %}" type="image/x-icon">
</head>
<body>
<main>
    <article>
        <h1>Entity Analyzer</h1>
        <form method="post" action="/">{% csrf_token %}
            <label> Language
                <select id="language" name="lang">
                    <option value="fr">Français</option>
                    <option value="en">English</option>
                    <option value="de">Deutsch</option>
                    <option value="xx">Wikipedia Entities</option>
                </select>
            </label>
            <label> Strategy
                <select id="strategy" name="strategy">
                    <option value="input">Direct input</option>
                    <option value="web">Web content</option>
                </select>
            </label>
            <label> NLP System
                <select id="system" name="system">
                    <option value="spacy">SpaCy</option>
                    <option value="dbpedia">DBPedia</option>
                    <option value="aida" disabled>AIDA</option>
                </select>
            </label>
            <br/>
            <label>
                <input id="input" type="text" name="input">
            </label>
        </form>
        <section>
            {% autoescape off %}
            {% if analyzed != None %}
                {{ analyzed }}
            {% endif %}
            {% endautoescape %}
        </section>
    </article>
</main>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>