main article form {
  text-align: center;
}
main article form input,
main article form select {
  margin: 0.5rem 1rem;
  padding: 0.25rem 0.5rem;
  border: green solid 2px;
  border-radius: 5%;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  main article form input,
main article form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: "Roboto", sans-serif;
    color: #333333;
    font-size: 1.5rem;
  }
}
main article section {
  padding: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #333333;
}
main article section .entities mark {
  transition: opacity 500ms;
  opacity: 75%;
}
main article section .entities mark > span {
  visibility: hidden;
  transition: visibility 0s;
}
main article section .entities mark:hover {
  opacity: 100%;
}
main article section .entities mark:hover > span {
  visibility: visible;
}
main article section a {
  text-decoration: none;
  color: green;
}

/*# sourceMappingURL=analyzer.css.map */
