@import 'variables';

main article {

  form {
    text-align: center;

    input,
    select {
      margin: 0.5rem 1rem;
      padding: 0.25rem 0.5rem;
      border: $primary solid 2px;
      border-radius: 5%;
    }
    
    @supports(-webkit-appearance: none) or (-moz-appearance: none) {
      input,
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        font-family: 'Roboto', sans-serif;
        color: $dark;
        font-size: 1.5rem;
      }
    }
  }

  section {
    padding: 2rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: $dark;

    .entities {
      mark {
        transition: opacity 500ms;
        opacity: 75%
      }

      mark > span {
        visibility: hidden;
        transition: visibility 0s;
      }

      mark:hover {
        opacity: 100%
      }

      mark:hover > span {
        visibility: visible;
      }
    }

    a {
      text-decoration: none;
      color: $primary;
    }

  }
}