@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff7eb;
}

main {
  font-family: "Roboto", sans-serif;
  color: #333333;
  padding-top: 2em;
}

h1 {
  text-align: center;
}

/*# sourceMappingURL=app.css.map */
