// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// reset
* {
  padding: 0;
  margin: 0;
}

@import 'variables';

// global
body {
  background-color: $light;
}

main {
  font-family: 'Roboto', sans-serif;
  color: $dark;
  padding-top: 2em;
  
}

h1 {
  text-align: center;
}